apiVersion: apps/v1
kind: Deployment
metadata:
  name: counter-service-deployment
  labels:
    app: counterservice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: counterservice
  template:
    metadata:
      labels:
        app: counterservice
    spec:
      containers:
      - name: counterservice
        image: arielma2304/my-repo:latest
        ports:
        - containerPort: 5000
